.card--container {
    width: 100%;
    min-width: 100%;
    padding: 12px;
    aspect-ratio: 2 / 3;
}

.card-content--container {
    min-height: 100%;
    border: solid 1px #575757;
    border-radius: 12px;
    height: 100%;
    position: relative;
    cursor: pointer;
}

.image-card {
    width: 100%;
    min-height: 100%;
    height: 100%;
    object-fit: cover; 
}

.card-content--container::after {
    content: "";
    position: absolute;
    background: linear-gradient(to bottom, rgba(0,0,0,0.8),rgba(0,0,0,0.2));
    left: 0;
    right: 0;
    top: 0;
    height: 0;
    transition: height ease-in 0.2s;
}

.card-content--container:hover.card-content--container::after {
    height: 100%;
}

.card-context--container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    color: #fff;
    display: none;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 5px;
    overflow: hidden;
}

.card-content--container:hover .card-context--container {
    display: flex;
    flex-direction: column;
    z-index: 1;
    text-align: center;
}

.card-detail--button {
    margin-top: 20px;
    width: 80%;
    background-color: var(--core-color);
    color: #fff;
    font-weight: bold;
}

.card-content--state {
    position: absolute;
    left: 0;
    top: 10px;
    background-color: #aa745b;
    min-width: 40%;
    font-weight: bold;
    font-size: 0.7rem;
    color: #fff;
    padding: 4px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

@media (max-width: 700px) {
    .another-info--movie-card {
        display: none;
    }
}



