.register--container {
    width: 100vw;
    height: 100vh;
    background-image: url("/multi_wallpaper.jpg");
    // padding-top: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register--container::after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
    background: linear-gradient(120deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2));
}

.register-form {
    width: 500px;
    height: 600px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(6px);
    z-index: 1;
    border-radius: 20px;
    border: solid 1px #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.register--logoname {
    font-style: italic;
    color: #fed875;
    font-size: 1.4rem;
}

.input-signup {
    width: 100%;
    padding: 10px;
    outline: none;
    border-radius: 12px;
    font-size: 0.8rem;
}

.signup--button {
    background-color: #ac1a1a;
    color: #fff;
    padding: 12px;
    width: 100%;
    font-weight: bold;
    border-radius: 12px;
}

.signup--button:hover {
    background-color: #ac3a3a;
}

.signup--button:active {
    background-color: #ab1010;
}

.error-register--text {
    color: red;
    font-weight: bold;
    font-size: 0.7rem;
}

.loading--register {
    width: 100vw;
    height: 100vh;
    display: flex;
    background: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
}