.activation--container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.activation-otp--container {
    padding: 20px;
    border-radius: 12px;
    background-color: #2a314e;
}