.slider--container {
    width: 100%;
    // height: calc(100vh - var(--header-height));
    height: 100vh;
    position: relative;
}

.image {
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity ease-in 0.2s;
    position: absolute;

}

.image::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));

}

.image.active {
    opacity: 1;

}

.sub-slider--container {
    position: absolute;
    width: 70%;
    height: 180px;
    backdrop-filter: blur(4px);
    background-color: rgba(255, 255, 255, 0.08);
    /* thêm màu nền mờ để dễ nhìn hơn */
    bottom: 4px;
    right: 12px;
    border-radius: 12px;
    /* bo góc mềm mại */
    border: 1px solid rgba(255, 255, 255, 0.2);
    /* viền trong suốt */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px
}

.sliders--container {
    display: flex;
    transition: all ease-in 0.3s;
}

    // --purple: #9a3bba;
    // --danger: #fe4e56;
    


@property --rotate{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: true;
}

.slider--item {
    width: 25%;
    min-width: 25%;
    padding: 10px;
    cursor: pointer;
    
}

.image--container {
    width: 100%;
    height: 100%;
    position: relative;
    
}

.image--container::after,
.image--container::before {
    position: absolute;
    width: 104%;
    height: 108%;
    content: '';
    background-image:
        linear-gradient(var(--rotate), #fc545d, #3e3e3e);
    border-radius: 12px;
    z-index: -1;
    left: -2%;
    top: -4%;
    opacity: 0;
    transition: all 0.5s;
   
}

.image--container::after {
    filter: blur(40px);
}

.image--container.active::after,
.image--container.active::before {
    opacity: 1;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0% {
        --rotate: 0deg;
    }

    100% {
        --rotate: 360deg;
    }
}



.slider-image--item {
    border-radius: 12px;
    position: relative;
    transition: all ease-in 0.2s;
}

.slider-image--item.can:hover {
    transform: translateY(-30px);
    opacity: 0.5;
}

.dots--container {
    display: flex;
    position: absolute;
    bottom: 0;
    gap: 4px;
    padding: 8px;
}

.dot--item {
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    transition: all ease-in 0.2s;
}

.dot--item.active {
    width: 10px;
    height: 10px;
    background-color: transparent;
    border-radius: 50%;
    border: solid 2px #fff;
}

.arrow--container {
    background-color: #ac1a1a;
    display: inline-block;
    padding: 10px;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.arrow--container.left {
    position: absolute;
    left: 4px;

}

.arrow--container.right {
    position: absolute;
    right: 4px;
}

.arrow--container:hover {
    background-color: #a94242;
}

.context--container {
    position: absolute;
    top: 10%;
    left: 40px;
    z-index: 1;
    max-width: 400px;
}

.movie--context--main {
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 3rem;
}

.movie--context-sub {
    color: #fff;
    font-weight: 200;
    font-size: 0.7rem;
}

.movie--context {
    color: #fff;
    font-weight: 400;
    font-size: 2rem;

}