.footer--container {
    display: flex;
    justify-content: space-around;
    padding: 16px;
    gap:32px
}

.logo-footer--container {
    width: 120px;
   
}

.footer-logo--container {
    width: 25px;
    display: block;
    cursor: pointer;
    margin-top: 12px;
}

@media (max-width: 1200px) {
    .footer-content {
        font-size: 0.8rem;
    }
}

@media (max-width: 950px) {
    .footer-content {
        font-size: 0.6rem;
    }
}